$white: #ffffff;
$black: #000000;

$gray-50: #f6f7f7;
$gray-100: #e5e7eb;
$gray-200: #d8e0f0;
$gray-400: #7e92a2;
$gray-500: #767675;
$gray-700: #4a5565;
$gray-900: #252525;

$neutral-950: #121212;

$blue-100: #e1effb;
$blue-300: #8cc5f5;
$blue-500: #3a7fff;
$blue-600: #2499ec;
$blue-900: #004e9f;

$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #eed3d3;
$red-500: #ea6766;
$red-900: #700009;

$orange-100: #fff6ea;
$orange-500: #ff9200;
$orange-900: #572f00;

$green-100: #ccfbf1;
$green-200: #99f6e4;
$green-300: #d3dfce;
$green-500: #10aa00;
$green-600: #71a36d;

$purple-400: #9698d6;
$purple-600: #a11ce8;

$violet-500: #b02abd;

$pink-400: #ff808b;

$yellow-500: #cba904;

$color-primary: $blue-500;
$color-primary-2: $blue-300;
$color-background: $white;
$color-secondary: $gray-900;
$color-label: $gray-500;
$color-label-2: $gray-400;
$color-background-secondary: $gray-50;
$color-loading: $gray-100;
$color-border: $gray-200;

$color-primary-dark: $blue-900;
$color-background-dark: $neutral-950;
$color-loading-dark: $gray-700;

$color-danger: $red-500;
$color-danger-2: $red-100;
$color-danger-4: $red-200;
$color-danger-secondary: $red-300;
$color-danger-dark: $red-900;

$color-warning: $orange-500;
$color-warning-secondary: $orange-100;
$color-warning-dark: $orange-900;

$color-success: $green-500;
$color-success-2: $green-100;
$color-success-4: $green-200;
$color-success-secondary: $green-300;

$color-info: $blue-600;
$color-info-secondary: $blue-100;

$color-indigo: $purple-600;
$color-green: $green-600;
$color-violet: $violet-500;
$color-yellow: $yellow-500;
$color-purple: $purple-400;
$color-pink: $pink-400;
